@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Comfortaa", cursive;
  background-color: rgb(175, 236, 255);
  color: white;
  overflow-x: hidden;
}

.container {
  width: 1280px;
  margin: auto;
}

header {
  border-bottom: 5px solid red;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 70px;
  padding: 0 20px;
}

#header h2 {
  font-size: 2rem;
}

#grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
